.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


html, body {
    width: 100%;
    height: 100%;
}

.refboard {
    position: relative;
    height: auto;
    min-height: 100%;
}

.card {
    position: absolute;
    display: inline-block;
}

.image {
    cursor: move;
    background-color: #FFF; /* TODO: Replace with image */
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
}

.scaling-handle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background-color: #FFF;
    cursor: se-resize;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: background-color 0.3s cubic-bezier(.25,.8,.25,1);
}

.scaling-handle:active {
    background-color: #2C2;
}

.rotation-handle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #FFF;
    cursor: crosshair;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: background-color 0.3s cubic-bezier(.25,.8,.25,1);
}

.rotation-handle:active {
    background-color: #EE2;
}

.image:active {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
